<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaogemini.dao.AdminMapper">
    <select id="queryAll" resultType="Admin">
        select * from ssmbuild.tbl_admin
    </select>

    <select id="selectAdmin" resultType="Admin" parameterType="Admin">
        select id, username, password
        from ssmbuild.tbl_admin
        where username = #{username}
          and password = #{password}
    </select>

    <update id="updatePwd">
        update ssmbuild.tbl_admin
        SET password = #{password}
        where username = 'admin'
    </update>
</mapper>